table {
  font-family: monospace;
}

#balance-table td {
  min-width: 50px;
}

#command-box {
  width: 500px;
  border: 1px solid #888;
  border: 1px solid #AAA;
  background-color: #CCC;
  font-family: terminus, monospace;
}
#status {
  margin-top: 5px;
  height: 15px;
  width: 500px;
  background-color: #FFF;
  border: none;
}
