body {
  font-size: 12px;
}
table {
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}
tr {
  padding: 0px;
  margin: 0px;
}
td {
  padding: 5px;
}
table, th, td {
  border: 1px solid #999;
}
code {
  padding: 2px;
  font-family: monospace;
  background-color: #CCC;
}
#balance-table td {
  min-width: 50px;
}

#command-box {
  width: 500px;
  border: 1px solid #888;
  border: 1px solid #AAA;
  background-color: #CCC;
  font-family: terminus, monospace;
}
#status {
  margin-top: 5px;
  height: 15px;
  width: 500px;
  background-color: #FFF;
  border: none;
}
